Repository amolrairikar/cta-train-metrics: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, run-unit-tests, run-gtfs-data-fetch-live-dependency-tests, run-gtfs-expected-schedule-live-dependency-tests, run-e2e-tests

ruff-check:
  name: Ruff linter
  description: Uses Ruff to lint and fix Python code.
  entry: pipenv run ruff check --fix .
  language: system

ruff-format:
  name: Ruff formatter
  description: Uses Ruff to format Python code using standard conventions.
  entry: pipenv run ruff format .
  language: system

run-unit-tests:
  name: Run unit tests
  description: Run unit tests locally to ensure all tests pass before committing code.
  entry: pipenv run pytest --cov=lambdas tests/unit --cov-report=term-missing -vv
  language: system
  pass_filenames: false

run-gtfs-data-fetch-live-dependency-tests:
  name: Run GTFS data fetch live dependency tests
  description: Run live dependency tests for fetching/updating GTFS data in S3.
  entry: pipenv run behave -v --no-capture tests/live_dependency/gtfs_data_fetch
  language: system
  pass_filenames: false

run-gtfs-expected-schedule-live-dependency-tests:
  name: Run GTFS expected schedule live dependency tests
  description: Run live dependency tests for generating expected schedule from GTFS data.
  entry: pipenv run behave -v --no-capture tests/live_dependency/gtfs_expected_schedule
  language: system
  pass_filenames: false

run-e2e-tests:
  name: Run E2E tests
  description: Run E2E tests.
  entry: pipenv run behave -v --no-capture tests/e2e/gtfs_sfn
  language: system
  pass_filenames: false

fix: keeping schedule effective + end date columns
  lambdas/gtfs_expected_schedule/main.py
  tests/live_dependency/gtfs_expected_schedule/steps/gtfs_expected_schedule_steps.py
  tests/unit/gtfs_expected_schedule/test_gtfs_expected_schedule_main.py
Due: ruff-check, ruff-format, run-unit-tests, run-gtfs-expected-schedule-live-dependency-tests, run-e2e-tests

chore: fixing PR template bullets
  .github/pull_request_template.md
Due: none

feat: initial Streamlit analytics app deployment
  .streamlit/config.toml
  Pipfile
  Pipfile.lock
  app.py
  pages/home.py
  pages/schedule.py
Due: ruff-check, ruff-format

chore: fixing PR template
  .github/pull_request_template.md
Due: none

feat: using DuckDB to write GTFS schedule to Parquet
  Pipfile
  Pipfile.lock
  infrastructure/aws/main.tf
  lambdas/gtfs_expected_schedule/main.py
  lambdas/gtfs_expected_schedule/requirements.txt
  tests/live_dependency/gtfs_expected_schedule/steps/gtfs_expected_schedule_steps.py
  tests/unit/gtfs_expected_schedule/test_gtfs_expected_schedule_main.py
Due: ruff-check, ruff-format, run-unit-tests, run-gtfs-expected-schedule-live-dependency-tests, run-e2e-tests

fix: fixing PR template
  .github/pull_request_template.md
Due: none

feat: added Streamlit app page on expected CTA schedule
  .gitignore
  .streamlit/config.toml
  app.py
  pages/about.py
  pages/schedule.py
  pages/table_of_contents.py
  pages/utils/utils.py
Due: ruff-check, ruff-format

chore: PR template fixes
  .github/pull_request_template.md
Due: none

Added Dev Container Folder
  .devcontainer/devcontainer.json
Due: none

fix: updating DuckDB connection to use AWS creds from Streamlit secrets
  pages/utils/utils.py
Due: ruff-check, ruff-format

feat: updating SFN to send SNS notification instead of Lambda
  infrastructure/aws/main.tf
Due: none

fix: adding SNS publish permissions to SFN role
  infrastructure/aws/main.tf
Due: none

feat: added Lambda to query CTA API for train locations
  infrastructure/aws/main.tf
  infrastructure/aws/vars.tf
  lambdas/gtfs_expected_schedule/main.py
  lambdas/gtfs_expected_schedule/requirements.txt
  lambdas/train_location_fetch/__init__.py
  lambdas/train_location_fetch/main.py
  lambdas/train_location_fetch/requirements.txt
Due: ruff-check, ruff-format, run-unit-tests, run-gtfs-expected-schedule-live-dependency-tests, run-e2e-tests

feat: updated end-to-end tests to call Lambdas
  .pre-commit-config.yaml
  lambdas/gtfs_data_fetch/main.py
  tests/e2e/environment.py
  tests/e2e/gtfs_sfn/gtfs_sfn_orchestration.feature
  tests/e2e/gtfs_sfn/steps/gtfs_sfn_orchestration_steps.py
  tests/e2e/gtfs_sfn_orchestration.feature
  tests/e2e/steps/gtfs_sfn_orchestration_steps.py
  tests/live_dependency/gtfs_data_fetch/environment.py
  tests/live_dependency/gtfs_data_fetch/fetch_gtfs_data.feature
  tests/live_dependency/gtfs_data_fetch/steps/gtfs_data_fetch_steps.py
  tests/live_dependency/gtfs_expected_schedule/gtfs_expected_schedule.feature
  tests/live_dependency/gtfs_expected_schedule/steps/gtfs_expected_schedule_steps.py
  tests/unit/gtfs_data_fetch/test_gtfs_data_fetch_main.py
Due: ruff-check, ruff-format, run-unit-tests, run-gtfs-data-fetch-live-dependency-tests, run-e2e-tests

chore: fixing stale tags
  infrastructure/aws/main.tf
Due: none

feat: deploy tests for train location Lambda
  infrastructure/aws/main.tf
  lambdas/train_location_fetch/main.py
  tests/e2e/environment.py
  tests/e2e/steps/e2e_testing_steps.py
  tests/e2e/train_location_fetch.feature
  tests/unit/gtfs_data_fetch/test_gtfs_data_fetch_main.py
  tests/unit/train_location_fetch/__init__.py
  tests/unit/train_location_fetch/test_train_location_fetch_main.py
Due: ruff-check, ruff-format, run-unit-tests, run-e2e-tests

feat: deployed infra for scheduling train location lambda
  infrastructure/aws/main.tf
Due: none

fix: purge SQS queue in before_all hook
  tests/e2e/environment.py
Due: ruff-check, ruff-format

fix: commenting out train_location_fetch feature
  lambdas/process_raw_cta_data/__init__.py
  lambdas/process_raw_cta_data/main.py
  lambdas/process_raw_cta_data/requirements.txt
  tests/e2e/train_location_fetch.feature
Due: ruff-check, ruff-format, run-unit-tests, run-e2e-tests

feat: improving fetch train location reliability
  infrastructure/aws/main.tf
  lambdas/train_location_fetch/main.py
  tests/e2e/environment.py
  tests/e2e/train_location_fetch.feature
  tests/unit/train_location_fetch/test_train_location_fetch_main.py
Due: ruff-check, ruff-format, run-unit-tests, run-e2e-tests

feat: adding SQL queries for processing CTA data
  infrastructure/aws/main.tf
  lambdas/process_raw_cta_data/main.py
  lambdas/process_raw_cta_data/requirements.txt
  lambdas/process_raw_cta_data/sql_query_drafts.sql
Due: ruff-check, ruff-format, run-unit-tests, run-e2e-tests

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  run-unit-tests: any of: ^lambdas/.* and \.py$
  run-gtfs-data-fetch-live-dependency-tests: any of: ^lambdas/gtfs_data_fetch/.* and \.py$
  run-gtfs-expected-schedule-live-dependency-tests: any of: ^lambdas/gtfs_expected_schedule/.* and \.py$
  run-e2e-tests: any of: ^lambdas/.* and \.py$
